.header__auth {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
	color: #a9a9a9;
	text-decoration: none;
	margin: 0;
	transition: 0.3s linear;
}

.header__auth:hover {
  opacity: 0.8;
  cursor: pointer;
}