.form__item {
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid #c4c4c4;
  padding: 0;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: text;
}

.form__item:focus {
	background: black;
	outline: none;
}











