.form__request-auth {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
	color: #ffffff;
	text-decoration: none;
	transition: 0.3s linear;
}

.form__request-auth:hover {
  opacity: 0.8;
  cursor: pointer;
}