@import url(./__logo/header__logo.css);
@import url(./__enter/header__enter.css);
@import url(./__email/header__email.css);
@import url(./__auth/header__auth.css);

.header {
  max-width: 882px;
  margin: 45px auto 41px;
	border-bottom: 1px solid #545454;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 580px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 320px;
    margin: 28px auto 38.25px;
  }
}